.pagination li {
    margin: 0px 5px;
}
.pagination {
    margin-top: 1em;
    justify-content: center;
}
.pagination li a {
    padding:0px 3px;
}
.pagination li.active a {
    background-color: #00A9BD;
    color: whitesmoke;
}
.status {
    cursor: pointer;
    position: relative;
}
.db-right-popup {
   position: absolute;
   transform: translateX(103%); 
   right: -8px;
   z-index: 5;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   background-color: white;
   top: -1px;
   color: black;
}
.db-right-popup > div {
    background-color: #e9e9e9;
    margin-right: 6px;
    padding:2px 4px;
    border-radius: 3px;
}
#message {
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.log-row {
    padding: 10px 0px;
    padding-left: 15px;
    border-bottom: 1px dashed #e9e9e9;
}
.card .log-row:nth-child(even) {
    background-color: #f2f2f2;
}
.log-content {
    padding: 10px;
}