.publisher img {
    width: 60px;
    margin-right: 0px;
}
.publisher .username {
    width: 100%;
    text-align:center;
}
.publisher {
    margin-right:15px;
}

.create_date.col-md-1 {
    padding: 0px;
    color: #8a8a8a;
}
.view-like-reply {
    color: #8a8a8a;
    padding: 0px;
}
.file-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
button.icon-button {
    background-color: transparent;
    padding: 0px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
i.icon-cancel {
    color: #f15e29;
}
i.icon-plus {
    color: #1cbbb4;
}
.like-button {
    cursor: pointer;
}
ul.categories {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
}
ul.categories li a.active {
    background: #0cbdaa url(../img/arrow.png) no-repeat 96% center;
    color: #fff;
}
ul.categories li a {
    text-decoration: none;
    padding: 4px 10px;
    display: block;
    margin-bottom: 3px;
}
.sort-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.selectpicker {
    padding: 3px;
    border: 1px solid silver;
    margin-left: 10px;
    height: 26px
}
div.desc-container {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid silver;
    position: relative;
    left: -1px;
    cursor: pointer;
}
.desc-container i {
    font-size: 9px;
    position: absolute;
    color: #cdcdcd;
}
.desc-container i.active {
    color: #0cbdaa;
}
.desc-container i.icon-up-open {
    top: -3px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.desc-container i.icon-down-open {
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.imgs-container {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.forum-img {
   width: 31%;
   cursor: pointer;
}