.publisher img {
    width: 70px;
    margin-right: 0px;
}
.publisher .username {
    width: 100%;
    text-align:center;
}
.publisher {
    margin-right:15px;
}

.create_date.col-md-1 {
    padding: 0px;
    color: #8a8a8a;
}
.view-like-reply {
    color: #8a8a8a;
}
.file-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
button.icon-button {
    background-color: transparent;
    padding: 0px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
i.icon-cancel {
    color: #f15e29;
}
i.icon-plus {
    color: #1cbbb4;
}
